:root{
	--white1: #ECFFF4;
	--white2: #FCF6F5;
	--dark: #2B2B2B;
	--dark1: #093032;
	--main: #2BAE66;
	--color1: #B9E9CF;
	--neg: black;
}

body::-webkit-scrollbar{
	background-color: var(--white2);
	box-shadow: -5px 0 5px var(--main) inset;
	width: 10px;
}

body::-webkit-scrollbar-thumb{
	/*background-color: var(--white2);*/
	box-shadow: 7px 0 5px var(--main) inset;
	cursor: pointer;
}
body::-webkit-scrollbar-thumb{
	background-color: red;
}
body{
	color: var(--dark1) !important;
}
body *::selection{
	background-color: var(--main) !important;
	color: var(--white2);
}
.con-fl{
	background-color: var(--white1);
}
nav{
	background-color: var(--white2);
}
.navbar-toggler{
	border: solid var(--main) 2px !important;
	background-color: var(--white1) !important;
	color: var(--main);
	outline: none !important;
}
.nav-link{
	color: var(--dark1) !important;
}
.nav-link.active{
	color: var(--main) !important;
	border-bottom: solid var(--main) 2px;
}

.brand-name{
	color: var(--main);
}

.more_btn{
	background-color: var(--main) !important;
	color: var(--white1) !important;
}
hr{
	background-color: var(--main);
}

.text--default{
	color: var(--dark1);
}

.text--default *::selection{
	background-color: var(--main) !important;
	color: var(--white1);
}

.progress-pointer{
	border: solid var(--main) 3px;
}

.education-container{
	border-left: solid var(--main) 2px;
}

.education-container .circle{
		border: solid var(--main) 3px;
		background-color: var(--white1)
}


.projects-content{
	background-color: var(--white2);
	box-shadow: 0 0 10px var(--dark1);
}

.projects-content i{
	color: var(--highlight);
}




.services-content{
	background-color: var(--white2);
	box-shadow: 0 0 10px var(--dark1);
}

.services-content i{
	color: var(--highlight);
}

.anim-a, .anim-b{
	background-color: var(--color1);
}
.contact{
	background-image: radial-gradient(var(--main), var(--white2));
	color: var(--dark1)
}
.contact *::selection{
	background-color: var(--dark1) !important;
}

.social-icons i{
	color: var(--white1) !important;
}



.programming-quote pre{
	color: var(--main);
	font-size: 20px;
}

 <!-- <span class="quote-text">w</span>
                        <span class="quote-text">h</span>
                        <span class="quote-text">i</span>
                        <span class="quote-text">l</span>
                        <span class="quote-text">e</span>
                        <span class="quote-text">(</span>
                        <span class="quote-text">n</span>
                        <span class="quote-text">o</span>
                        <span class="quote-text">S</span>
                        <span class="quote-text">u</span>
                        <span class="quote-text">c</span>
                        <span class="quote-text">c</span>
                        <span class="quote-text">e</span>
                        <span class="quote-text">s</span>
                        <span class="quote-text">s</span>
                        <span class="quote-text">)</span>
                        <span class="quote-text">{</span>
                        <br>
                        &nbsp &nbsp
                        <span class="quote-text">t</span>
                        <span class="quote-text">r</span>
                        <span class="quote-text">y</span>
                        <span class="quote-text">A</span>
                        <span class="quote-text">g</span>
                        <span class="quote-text">a</span>
                        <span class="quote-text">i</span>
                        <span class="quote-text">n</span>
                        <span class="quote-text">(</span>
                        <span class="quote-text">)</span>
                        <span class="quote-text">{</span>
                        <br>
                        &nbsp &nbsp
                        <span class="quote-text">i</span>
                        <span class="quote-text">f</span>
                        <span class="quote-text">(</span>
                        <span class="quote-text">D</span>
                        <span class="quote-text">e</span>
                        <span class="quote-text">a</span>
                        <span class="quote-text">d</span>
                        <span class="quote-text">)</span>
                        <br>
                        &nbsp &nbsp &nbsp
                        <span class="quote-text">b</span>
                        <span class="quote-text">r</span>
                        <span class="quote-text">e</span>
                        <span class="quote-text">a</span>
                        <span class="quote-text">k</span>
                        <span class="quote-text">;</span>
                        <br>
                        <span class="quote-text">}</span>
                        <br> -->